<div class="gray_box">
  <div class="box">
    <%= image_tag 'meme-shirt-girl.jpg', :class => "pull-left" %>
    <div>
      <h2>CREATE A T-SHIRT FROM YOUR FAVORITE ONLINE CONTENT, SEAMLESSLY.</h2>
      <h4>Comming Soon. Sign up now to get early access!</h4>
      <%= form_for @user do |f| %>
        <% if  @user.errors.any? %>
          <div class="error_messages">
            <h2>We ran into some errors</h2>
            <ul>
              <%  @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= f.label :email do %>
            <%= f.text_field :email, :placeholder => "email address" %>
          <% end %>
        </div>
      <!--   <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password %>
        </div>
        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation %>
        </div> -->
        <div class="actions"><%= f.submit "Sign Up", :class => "button" %></div>
      <% end %>
    </div>
  </div>
</div>